<h2 [hidden]="!is_hidden"><b>Do you see the term you want to translate?</b></h2>

<div #divTerms [hidden]="!is_hidden"></div>

<div [hidden]="is_hidden">
  <h2><b>Create a new term</b></h2>

  <mat-form-field appearance="fill">
    <mat-label>Enter English word, e.g., home</mat-label>
    <input type="text" matInput [formControl]="term_control" /> </mat-form-field
  ><br />

  <mat-form-field appearance="fill">
    <mat-label>Pick category, e.g., noun</mat-label>
    <mat-select [formControl]="category_control" required>
      <mat-option>--</mat-option>
      <mat-option
        *ngFor="let category of categories"
        [value]="category.category"
      >
        {{ category.category }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="category_control.hasError('required')">
      Please choose a part of speech
    </mat-error> </mat-form-field
  ><br>

  <i id="example"> Word + Category = <b><u>Term</u></b></i><br><br>
  <i id="example">E.g home + noun = <b><u>home (noun)</u></b></i><br><br>

  <mat-form-field appearance="fill">
    <mat-label>Enter meaning in English</mat-label>
    <textarea matInput [formControl]="meaning_term_control"></textarea>
    <mat-error *ngIf="meaning_term_control.hasError('required')">
      Meaning is <strong>required</strong>
    </mat-error>
  </mat-form-field><br>

</div>

<div mat-dialog-actions>
  <button mat-button mat-dialog-close>
    Cancel
  </button>

  <span [hidden]="!is_hidden">
    <button
      mat-button
      (click)="create_term()"
    >
      No
    </button>
  </span>

  <span [hidden]="!is_hidden">
    <button
      mat-button
      cdkFocusInitial
      (click)="get_selected_term()"
    >
      Yes
    </button>
  </span>
  
  <span [hidden]="is_hidden">
    <button 
      mat-button 
      (click)="hide()">
      Back
    </button>
  </span>
  
  <span [hidden]="is_hidden">
    <button
      mat-button
      cdkFocusInitial
      (click)="get_new_term()"
    >
      Create
    </button>
  </span>
  
</div>
