<div id="logo_div">
  <img id="logo" src="../../assets/images/kenny.png" alt="Kentionary's Logo" />
</div>
<div>
  <div id="main_title">ABOUT US</div>
  <div id="body_container">
    <div id="founder">
      <mat-card class="example-card">
        <div id="founder_name">Daniel Kaniu</div>
        <div id="founder_title">Kentionary Founder</div>
        <img
          mat-card-image
          src="../../assets/images/me.jpeg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <div><a href="https://angular.io/">Angular Software Developer</a></div>
        </mat-card-content>
      </mat-card>
    </div>
    <div id="history">
      <div id="history_title">Brief History</div>
      <div id="history_body">
        Kentionary is a platform that is useful in translating Kenyan languages.
        The idea was coined by Daniel Kaniu, who is the founder of
        <a href="https://hallelujah-technologies.web.app/">Hallelujah Technologies Inc.</a> 
        (The parent company of <a href="https://kentionary.com">Kentionary Inc.</a> ). <br />
        At that time he was in University studying Bachelor of Business
        Information Technology. <br /><br />
        The founder developed the application with the help of his programming
        coach, Professor Peter Muraya (A Computer Scientist Guru with over 40
        years of experience). The development process was guided by the System
        Development Life Cycle steps:-
        <ol>
          <li>Planning</li>
          <li>Analysis</li>
          <li>Design</li>
          <li>Development</li>
          <li>Testing</li>
          <li>Implementation</li>
          <li>Maintenance</li>
        </ol>
      </div>
    </div>
    
    <div id="vision">
        <div id="vision_title">Vision</div>
        <div id="vision_body">
            We hope that our application will help people in Kenya and abroad to translate the local Kenyan 
            languages. And they are all able to overcome the language barrier.
        </div>
      </div>
  </div>
</div>