#logo_div{
    text-align: center;
}
#logo{
    width: 7%;
}
#tagline{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 3%;
}
#main_title{
    text-align: center;
    font-size: 2rem;
    margin-top: 1.5%;
    margin-bottom: 3%;
}
#body_container{
    display: flex;
    flex-wrap: wrap;
}
#founder{
    width: 30%;
    margin-left: 3%;
    border-radius: 3%;
    transition: 0.5s ease-in-out;
}
#founder:hover{
    box-shadow: 0px 0px 10px #03001C;
}
mat-card{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: #674188;
    color: #F7EFE5;
    border-radius: 3%;
}
#founder_name{
    font-weight: 600;
    letter-spacing: 2px;
}
#founder_title{
    font-style: italic;
    margin-bottom: 5%;
}
#icons{
    margin-top: 2%;
}
#angular_icon{
    margin-right: 3%;
}
#github_icon, #angular_icon, #linkedin_icon{
    cursor: pointer;
    width: 6%;
}
#linkedin_icon{
    background: #F9CC7B;
    margin-left: 3%;
}
#stack{
    color: #FDEBED;
}
#history{
    width: 50%;
    margin-left: 5%;
}
#vision{
    margin-top: 3%;
    margin-left: 3%;
}
#history_title, #vision_title{
    font-weight: 700;
    margin-bottom: 1.5%;
}
/*
Style for mobile devices. */
@media only screen and (max-width: 768px) {
    #logo_div{
        margin-top: 1%;
    }
    #body_container{
        display: block;
    }
    #founder{
        width: 90%;
        text-align: center;
    }
    #history{
        width: 90%;
        margin-top: 5%;
    }
}