<div id="logo_div">
    <img id="logo" src="../../assets/images/kenny.png" alt="Kentionary's Logo" />
    <div id="tagline">Translate Kenya</div>
</div>
<div id="four_four">
    <span id="one">4</span>
    <span id="two">0</span>
    <span id="three">4</span>
</div>
<div id="message">
    <span>
        THE PAGE YOU ARE LOOKING FOR IS UNAVAILABLE! 
        <button 
            mat-raised-button 
            routerLink="/translate"
            color="primary">
                Home Page
        </button>
    </span>
</div>

<div id="searching_div">
    <img id="searching" src="../../assets/images/searching.gif" alt="Kentionary's Logo" />
</div>