#form{
    margin-top: 2%;
    width: 40%;
}
/*
The translate button. */
button {
    background: #395B64;
    color: aliceblue;
}
#logo{
    width: 7%;
    margin-bottom: 2%;
}
#title{
    font-weight: 700;
    margin-bottom: 2%;
    text-align: center;
}
#logo_div{
    text-align: center;
    margin-top: 1%;
}
mat-form-field{
    width: 100%;
}
#details{
    display: block;
    width: 80%;
    justify-content: center;
}
#map{
    width: 40%;
}
iframe{
    width: 100%;
    height: 50vh;
}
#container{
    display: flex;
    justify-content: space-evenly;
}
/*
Style for tablet devices. */
@media only screen and (max-width: 768px) {
    #container{
        display: block;
    }
    #form{
        display: block;
    }
    #details{
        margin: 5% 0 10% 30%;
    }
    mat-form-field{
        width: 60vw;
    }   
    button{
        margin-left: 20%;
    }
    #map{
        width: 90%;
        text-align: center;
    }
    iframe{
        width: 90%;
        height: 15rem;
    }
}