/*
Style the expansion panel. */
mat-expansion-panel{
    background: rgb(246, 254, 255);
}
/*
Style the form field. */
mat-form-field{
    margin-left: 10%;
    width: 35%;
}
.mat-snack-bar-container {
    max-width: 80px;
 }

mat-icon{
    margin-left: 5%;
}
.next{
    margin-right: 10%;
    background: #395B64;
    color: white;
}
.prev{
    background-color: #29A19C;
    color: rgb(255, 255, 255);
}
/*
Style for tablet devices. */
@media only screen and (max-width: 768px) {
    
}
/*
Style for mobile devices. */
@media only screen and (max-width: 480px) {
    /*
    Style the form field. */
    mat-form-field{
        margin-left: 10%;
        width: 70%;
    }
}