/*
Style the expansion panel. */
mat-expansion-panel{
    background: rgb(246, 254, 255);
}
/*
Style the form field. */
mat-form-field{
    margin-left: 10%;
    width: 35%;
}

mat-icon{
    margin-left: 5%;
}