/*
The sidenav. */
#sidenav_container{
    height: 100%;
}
#sidenav_content{
    height: 50%;
    justify-content: center;
    color: #2C3333;
}
#sidenav{
    width: 15%;
}
/*
The sidenav menu button. */
#menu{
    position: sticky;
    left: 2%;
    top: 2%;
    z-index: 1;
    background: #395B64;
}
/*
The sidenav's logo. */
#sidenav_logo_container{
    text-align: center;
    margin-bottom: 20%;
}
#logo_sidenav{
    width: 50%;
    text-align: center;
    margin-top: 8%;
}
#tagline{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/*
The sidenav's title. */
#title_sidenav{
    font-size: larger;
    font-weight: 900;
    margin-top: 5%;
    margin-bottom: 5%;
}
/*
The links in the sidenav. */
.icon{
    display: block;
    cursor: pointer;
    color: #902424;
    font-weight: 500;
    margin-top: 10%;
    margin-left: 6%;
}
a::hover{
    cursor: pointer;
}
#copyright{
    position: fixed;
    bottom: 0;
    left: 2%;
}
mat-icon{
    color: #3D1766;
    font-size: 1.5rem;
    margin-right: 4%;
    cursor: pointer;
}
#menu mat-icon{
    color: aliceblue;
}
#mobile_view{
    display: none;
}
/*
The link to navigate to the page for adding a new translation. */
#add_new_translation{
    position: fixed;
    bottom: 10%;
    right: 3%;
    font-size: 3rem;
    z-index: 1;
}
/*
Style for tablets + mobile devices. */
@media only screen and (max-width: 768px) {
    /*
    The sidenav. */
    #sidenav_container{
        height: 90%;
    }
    #sidenav_content{
        height: 90%;
    }
    mat-drawer, #menu{
        display: none;
    } 
    #mobile_view{
        position: relative;
        bottom: 2;
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
    }  
    mat-icon{
        font-size: 3rem;
        color: #473C33;
    } 
    #add_new_translation{
        display: none;
    }
}