<mat-drawer-container id="sidenav_container" autosize>
    <mat-drawer #drawer id="sidenav" mode="side" opened="true">
      <div id="sidenav_logo_container">
        <img id="logo_sidenav" src="http://www.kentionary.com/assets/images/kenny.png" alt="Kentionary's Logo">
        <div id="title_sidenav">KENTIONARY INC.</div>
        <div id="tagline">Translating Kenya</div>
      </div>

      
        <span class="icon" routerLink="/translate" [routerLinkActive]="['is-active']">
          <mat-icon>g_translate</mat-icon>Translate
        </span>
      
      <span class="icon" routerLink="/add" [routerLinkActive]="['is-active']">
        <mat-icon>add_circle</mat-icon>Add new translation
      </span>
      
        <span class="icon" routerLink="/about" [routerLinkActive]="['is-active']">
          <mat-icon>history</mat-icon>About Us 
        </span>
      
        <span class="icon" routerLink="/contact" [routerLinkActive]="['is-active']">
          <mat-icon>contact_phone</mat-icon>Contact Us
        </span>

        <span class="icon" routerLink="/support" [routerLinkActive]="['is-active']">
          <mat-icon>sentiment_satisfied</mat-icon>Buy Us Coffee
        </span>

      <div id="copyright">© 2023 Kentionary, Inc.</div>
    </mat-drawer>
  
    <div id="sidenav_content">
      <button 
        mat-mini-fab
        aria-label="Button with a menu icon" 
        (click)="drawer.toggle()"
        id="menu">
          <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<div id="mobile_view">
    <mat-icon class="icon_toolbar" routerLink="/translate" [routerLinkActive]="['is-active']">translate</mat-icon>
  
    <mat-icon class="icon_toolbar" routerLink="/add" [routerLinkActive]="['is-active']">add_circle_outline</mat-icon>

    <mat-icon class="icon_toolbar" routerLink="/about" [routerLinkActive]="['is-active']">history</mat-icon>

    <mat-icon class="icon_toolbar" routerLink="/contact" [routerLinkActive]="['is-active']">mail_outline</mat-icon>
  
    <mat-icon class="icon_toolbar" routerLink="/support" [routerLinkActive]="['is-active']">sentiment_satisfied</mat-icon>
</div>

<mat-icon
  routerLink="/add" 
  mat-mini-fab
  id="add_new_translation">
    add_circle
</mat-icon>