<mat-drawer-container id="sidenav_container" autosize>
    <mat-drawer #drawer id="sidenav" mode="side" mode="side">
      <div id="sidenav_logo_container">
        <img id="logo_sidenav" src="http://www.kentionary.com/assets/images/kenny.png" alt="Kentionary's Logo">
        <div id="title_sidenav">KENTIONARY INC.</div>
        <div id="tagline">Translating Kenya</div>
      </div>

      
        <span class="icon" routerLink="/translate">
          <mat-icon>g_translate</mat-icon>Translate
        </span>
      
      <span class="icon" routerLink="/add">
        <mat-icon>add_circle</mat-icon>Add new translation
      </span>
      
        <span class="icon" routerLink="/about">
          <mat-icon>history</mat-icon>About Us 
        </span>
      
        <span class="icon" routerLink="/contact">
          <mat-icon>contact_phone</mat-icon>Contact Us
        </span>

        <!-- <span class="icon" routerLink="/support">
          <mat-icon>attach_money</mat-icon>Provide Support
        </span> -->

      <div id="copyright">© 2023 Kentionary, Inc.</div>
    </mat-drawer>
  
    <div id="sidenav_content">
      <button 
        mat-mini-fab
        aria-label="Button with a menu icon" 
        (click)="drawer.toggle()"
        id="menu">
          <mat-icon>menu</mat-icon>
      </button>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
<div id="mobile_view">
  
    <mat-icon class="icon_toolbar" routerLink="/translate">g_translate</mat-icon>
  
    <mat-icon class="icon_toolbar" routerLink="/add">add_circle</mat-icon>

    <mat-icon class="icon_toolbar" routerLink="/about">history</mat-icon>

    <mat-icon class="icon_toolbar" routerLink="/contact">contact_phone</mat-icon>
  
    <!-- <mat-icon class="icon" routerLink="/support">attach_money</mat-icon> -->
</div>

<mat-icon
  routerLink="/add" 
  mat-mini-fab
  id="add_new_translation">
    add_circle
</mat-icon>