<div id="main">
  <div id="form">
    <span id="logo">
      <img id="logo_main" src="../../assets/images/kenny.png" alt="Kentionary's Logo">
    </span>
    <span id="company">KENTIONARY</span>
    <div id="tagline">Translating Kenya</div>
    <form class="form_word">
      <span id="language_from">
        <mat-form-field appearance="outline">
          <mat-label>Language from</mat-label>
          <mat-select  color="primary" [formControl]="language_from_control" required>
            <mat-option *ngFor="let lang of select_languages" [value]="lang.name">
              {{ lang.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="language_from_control.hasError('required')"
            >Please choose a language</mat-error
          >
        </mat-form-field>
      </span>

      <mat-form-field appearance="fill" class="input_word" color="primary">
        <mat-label>Enter word to translate</mat-label>
        <input
          id="input_word"
          matInput
          placeholder="E.g., home"
          [formControl]="word_control"
        /> 
        <mat-error *ngIf="word_control.hasError('required')"
          >Enter word to translate</mat-error
        >
        </mat-form-field
      >

      <span id="lang_to_checkbox">
        <span id="language_to" [hidden]="!checked">
          <mat-form-field appearance="outline">
            <mat-label>Language to</mat-label>
            <mat-select  [formControl]="language_to_control" required>
              <mat-option *ngFor="let lang of select_languages" [value]="lang.name">
                {{ lang.name }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="language_to_control.hasError('required')"
              >Please choose a language</mat-error
            >
          </mat-form-field>
        </span>

        <span id="checkbox">
          <mat-checkbox 
            id="check_box"
            #check_box
            (change)="checkbox_changed(check_box.checked)">
              <span>Filter</span><mat-icon id="filter">filter_list</mat-icon>
          </mat-checkbox><br>
        </span>
      </span>

      <button mat-raised-button (click)="translate()" id="translate">
        Translate
      </button>
    </form>
  </div>

  <div [hidden]="is_translate">
  <!-- <div [hidden]="false"> -->
    <div id="translation_container" [hidden]="is_translate">
      <div id="left_panel">
        <div id="add_new" [hidden]="is_new">
          <!-- 
          Gif of minion. -->
          <img id="thinking_monkey_left" src="../../assets/images/thinking_monkey.gif" alt="" srcset="">
        </div>
        <div *ngFor="let language of languages_panel" [hidden]="!is_new">
          <span id="language">{{ language }}</span>
        </div>
      </div>
      <div id="content">
        <div id="add_new" [hidden]="is_new">
          
          <div id="add_new_title">Translation not available.</div>

          <!-- 
          Gif of minion. -->
          <img id="sad_minion" src="http://www.kentionary.com/assets/images/sad_minion.gif" alt="Sad minion"><br>

          <button mat-raised-button color="primary" (click)="add_new_translation()">
            Add new translation here
          </button>
        </div>

        <div *ngFor="let translation of translations"  [hidden]="!is_new"> 
          <span id="term">{{ translation.term }} </span>
          <span id="languages">{{ translation.language }} </span>
          <span id="word">{{ translation.words }} </span>
        <br />
        </div>
      </div>
    <div id="right_panel"  class="panels">

      <div id="add_new" [hidden]="is_new">
        <!-- 
        Gif of minion. -->
        <img id="thinking_monkey_right" src="http://www.kentionary.com/assets/images/thinking_monkey.gif" alt="Thinking">
      </div>

      <div [hidden]="is_hidden_stats">
        <div id="title_stats">
          <mat-icon id="chart_icon"> bubble_chart</mat-icon>
          <span id="title_stats_text"> STATISTICS </span>
        </div>
        <div id="stats">
          <div class="stat_dets"> 
            <span 
              class="stats" 
              color="accent"
              matBadge="{{ language_count }}" 
              matBadgeOverlap="false"
              matBadgePosition="before">
                Languages translated 
              <span class="example">E.g., Gikuyu</span>
            </span>
          </div>
          <div class="stat_dets"> 
            <span 
              class="stats" 
              matBadge="{{ word_count }}" 
              matBadgeOverlap="false"
              matBadgePosition="before">
                Words translated 
                <span class="example">E.g., home</span>
            </span>
          </div>
          <div class="stat_dets"> 
            <span 
              class="stats" 
              matBadge="{{ term_count }}" 
              matBadgeOverlap="false"
              matBadgePosition="before">
                Terms translated 
                <span class="example">E.g., country (noun)</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<h2>Kenya National Anthem</h2>
<div id="national_anthem">
  <pre id="swahili_anthem">
    <span class="anthem_language"> Swahili </span>

    Ee Mungu nguvu yetu
    Ilete baraka kwetu
    Haki iwe ngao na mlinzi
    Natukae na udugu
    Amani na uhuru
    Raha tupate na ustawi. <br>
    Amkeni ndugu zetu
    Tufanye sote bidii
    Nasi tujitoe kwa nguvu
    Nchi yetu ya
    Kenya tunayoipenda
    Tuwe tayari kuilinda. <br>
    Natujenge taifa letu
    Ee ndio wajibu wetu
    Kenya istahili heshima
    Tuungane mikono pamoja kazini
    Kila siku tuwe nashukrani. 
  </pre>

  <pre id="english_anthem">
    <span class="anthem_language"> English </span>
    
    O God of all creation,
    Bless this our land and nation.
    Justice be our shield and defender,
    May we dwell in unity,
    Peace and liberty.
    Plenty be found within our borders. <br>
    Let one and all arise
    With hearts both strong and true.
    Service be our earnest endeavor,
    And our Homeland of Kenya,
    Heritage of splendor,
    Firm may we stand to defend. <br>
    Let all with one accord
    In common bond united,
    Build this our nation together,
    And the glory of Kenya,
    The fruit of our labor
    Fill every heart with thanksgiving. 
  </pre>
</div>