/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons/iconfont/material-icons.css';

html, body { 
    height: 100%; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*
The snack_bar. */
.add_snackbar{
    background: #03001C;
    color: rgb(255, 255, 255);
}
/*
Style for tablets devices. */
@media only screen and (max-width: 768px) {
    * {
        font-size: large;
    }
}